services:
  api:
    build: .
    container_name: resume_screening_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - PROJECT_ROOT_DIR=/app
      - MONGODB_URI=mongodb://mongo:27017
      - MONGODB_DB_NAME=resume_screening_db
      - REDIS_URL=redis://redis:6379/0
      - ENVIRONMENT=production
    depends_on:
      - mongo
      - redis
    volumes:
      - ./app:/app/app
      - ./uploads:/app/uploads
      - ./logs:/app/logs

  mongo:
    image: mongo:latest
    container_name: resume_mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:latest
    container_name: resume_redis_db
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mongo_data:
  redis_data: